$def with (content)
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="同城速递 代买东西">
<meta name="author" content="oaksu stella">
<head>
    <title>$content.title - Express Today! E.T.速递 - 只为你服务 - 上海同城速递 最快的快递！当天件！上海市区2个小时直达！</title>

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Express Today!</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">E.T.机器人</a></li>
              <li><a href="/ticket">查单子</a></li>
              <li><a href="/map">查地址</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">要什么有什么 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">告诉我你想要什么</li>
                  <li><a href="/serve/buy">买东西</a></li>
                  <li><a href="/serve/exp">送快递</a></li>
                  <li><a href="/serve/eat">叫吃的</a></li>
                  <li><a href="/serve/other">你猜？</a></li>
                </ul>
              </li>
            </ul>
            $if context.get('logged_in', False):
                <form class="navbar-form pull-right" action="/login" method="post">
                  <input class="span2" name="phone" type="text" placeholder="电话">
                  <input class="span2" name="email" type="password" placeholder="密码">
                  <button type="submit" class="btn">登录</button>
                </form>
            $else:
            	<a class="navbar-form pull-right" href="/">Welcome</a>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">

$:content
     
      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->



<script src="/static/js/lib/jquery.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/lib/validate.min.js"></script>
<script src="/static/js/app/register.js"></script>
</body>
</html>
