$def with (content)
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="企业服务 IT服务 企业库存管理 财务管理 中小企业软件网络服务咨询">
<meta name="author" content="${author}">
<head>
    <title>$content.title - $site_name</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">-->
</head>
<body>
<div class="navbar navbar-default" role="navigation">
    <div class="container marketing">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">$site_name</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#about">关于我们</a></li>
                <li><a href="#contact">联系我们</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">解决方案 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">库存管理</a></li>
                        <li class="divider"></li>
                        <li><a href="#">IT服务管理</a></li>
                        <li class="divider"></li>
                        <li><a href="#">财务管理</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
    $:content




<div class="foot">
    <hr>

<div class="container">
     <div class="row">
        <div class="col-md-4">
          <h4>关于SK</h4>
          <p>Stock location</p>
          <p>Sales manage</p>
          <p>Business values</p>
        </div><!-- /.span4 -->
        <div class="col-md-4">
            <h4>联系我们</h4>
            <p>反馈BUG</p>
            <p>联系邮箱</p>
            <p>招聘信息</p>
        </div><!-- /.span4 -->
        <div class="col-md-4">
         <h4>SK 产品</h4>
          <p>库存管理</p>
          <p>IT服务管理</p>
          <p>财务管理</p>
          <p></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
<div class="footer">
    <h5>Copyright &copy; SK Company 2014 , All rights reserved.</h5>
</div>
</div>
<!-- /container -->
    </div>

</body>
<script src="/static/js/lib/jquery.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!--<script src="/static/js/lib/bootstrap.min.js"></script>-->
<script src="/static/js/lib/validate.min.js"></script>
<script src="/static/js/app/register.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53762516-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
